<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.ncsc.visafe"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="vn.ncsc.visafe.ViSafeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.protect.BlockTrackingDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.protect.BlockAdsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.protect.ProtectWifiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.protect.ProtectDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain" />
        <activity
            android:name=".ui.create.workspace.CreateWorkspaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.create.group.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ui.authentication.changepass.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.noticonfig.NotificationConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pin.UpdatePinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.support.SupportCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ui.group.dashboard.GroupDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.group.detail.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ui.group.join.JoinGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.group.join.ScanQRJoinGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.group.detail.member.MemberManagementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ui.group.detail.member.AddMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
<!--        <activity-->
<!--            android:name="com.facebook.CustomTabActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter><action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="@string/fb_login_protocol_scheme" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <service
            android:name=".dns.sys.ViSafeVpnService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".dns.sys.ViSafeTileService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver
            android:name=".dns.sys.AutoStarter"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>